* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #ecf0f1;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

main {
  width: calc(100% - 180px);
  position: relative;
  left: 180px;
}
@media only screen and (max-width: 640px) {
  main {
    left: 0;
    width: auto;
  }
}

.row {
  display: block;
}

.col-1 {
  display: block;
}

.col-2 {
  display: block;
  width: 50%;
  float: left;
}

.col-3 {
  display: block;
  width: 33.33333%;
  float: left;
}

.col-4 {
  display: block;
  width: 25%;
  float: left;
}

@media only screen and (max-width: 768px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
  }
}
.logo {
  padding: 20px;
  text-align: center;
  background: #c0392b;
  font-size: 24px;
  font-weight: 700;
}

.menu-principal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  height: 100vh;
  position: fixed;
  float: left;
  width: 180px;
  box-sizing: border-box;
  background: #0d1217;
}
@media only screen and (max-width: 640px) {
  .menu-principal {
    width: auto;
    position: relative;
    display: block;
    float: none;
    height: auto;
  }
}

.lista-menu {
  list-style-type: none;
}
.lista-menu:last-child {
  margin-bottom: 0;
}
.lista-menu a {
  display: block;
  padding: 15px 20px;
}

.item-menu--principal {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.item-menu--principal:hover {
  color: white;
}
.item-menu--principal a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.item-menu--principal a:hover {
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
  border-bottom: 1px solid #c0392b;
}

.wrapper-cartoes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.cartao {
  display: block;
  background: white;
  color: black;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cartao-flutoante {
  margin: 10px 0px 10px 10px;
  border-radius: 8px;
  border: 1px solid #b1c2c6;
}
.cartao-flutoante:last-of-type {
  margin-right: 10px;
}
.cartao-cabecalho {
  font-size: 20px;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid #b1c2c6;
}

.titulo-cartao-cabecalho {
  display: inline-block;
  padding: 20px 10px;
  color: #495d62;
  font-weight: 300;
}
.titulo-cartao-flutoante {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #2c3e50;
  color: white;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}
.titulo-cartao--azul {
  background: #3498db;
}
.titulo-cartao--vermelho {
  background: #c0392b;
}
.titulo-cartao--amarelo {
  background: #f1c40f;
}
.titulo-cartao--roxo {
  background: #8e44ad;
}
.titulo-cartao--laranja {
  background: #d35400;
}
.titulo-cartao--verde {
  background: #2ecc71;
}

.content-cartao {
  padding: 10px;
}
