* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #ecf0f1;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row {
  display: block;
}

.col-1 {
  display: block;
}

.col-2 {
  display: block;
  width: 50%;
  float: left;
}

.col-3 {
  display: block;
  width: 33.33333%;
  float: left;
}

.col-4 {
  display: block;
  width: 25%;
  float: left;
}

@media only screen and (max-width: 768px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
  }
}
.logo {
  padding: 20px;
  text-align: center;
  background: #c0392b;
  font-size: 24px;
  font-weight: 700;
}

.menu-principal {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  color: white;
  float: left;
  width: 180px;
  box-sizing: border-box;
  background: #0d1217;
}
@media only screen and (max-width: 768px) {
  .menu-principal {
    width: auto;
    position: relative;
    display: block;
    float: none;
    height: auto;
  }
}

.lista-menu {
  list-style-type: none;
}
.lista-menu:last-child {
  margin-bottom: 0;
}
.lista-menu a {
  display: block;
  padding: 15px 20px;
}

.item-menu--principal {
  text-align: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.item-menu--principal:hover {
  color: white;
}
.item-menu--principal a:hover {
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.item-menu--principal.active {
  color: white;
  background: #22313F;
}
.item-menu--principal.active:before {
  content: "";
  width: 3px;
  height: 51px;
  background: #597ea2;
  display: block;
  float: left;
  position: relative;
  line-height: 0;
}

.wrapper-cartoes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.cartao {
  display: block;
  background: white;
  color: black;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cartao-flutoante {
  margin: 5px 0px 5px 5px;
  box-shadow: 0 2px 3px rgba(133, 159, 165, 0.45);
}
.cartao-flutoante:last-of-type {
  margin-right: 10px;
}
.cartao-cabecalho {
  font-size: 20px;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid #b1c2c6;
}

.titulo-cartao-cabecalho {
  display: inline-block;
  padding: 20px;
  color: #495d62;
  font-weight: 300;
}
.titulo-cartao-flutoante {
  background: #cfd9db;
  border-bottom: 2px solid #b1c2c6;
  color: #5e7980;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}
.titulo-cartao--azul {
  background: #3498db;
  color: white;
  border-bottom: 2px solid #1d6fa5;
}
.titulo-cartao--vermelho {
  background: #c0392b;
  color: white;
  border-bottom: 2px solid #81261d;
}
.titulo-cartao--amarelo {
  background: #f1c40f;
  color: white;
  border-bottom: 2px solid #aa8a0a;
}
.titulo-cartao--roxo {
  background: #8e44ad;
  color: white;
  border-bottom: 2px solid #612e76;
}
.titulo-cartao--laranja {
  background: #d35400;
  color: white;
  border-bottom: 2px solid #863600;
}
.titulo-cartao--verde {
  background: #2ecc71;
  color: white;
  border-bottom: 2px solid #208e4e;
}

.content-cartao {
  padding: 10px;
}

.btn {
  display: block;
  float: right;
  padding: 20px;
  border: 1px solid black;
}

.link-addon {
  width: 20px;
  height: 20px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  float: left;
  margin-right: 5px;
}
.link-addon--sair {
  background: red;
}
